@model WebComputerShop_final.Models.ClassProduct

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<form method="post" action="/MainProcess/Delete">
    <div class="form-group">
        <label>ID</label>
        <input id="demo" type="text" class="form-control" name="ID" placeholder="Nhập ID">
    </div>
    <div class="form-group">
        <label>Tên Sản Phẩm</label>
        <input id="demo" type="text" class="form-control" name="Ten" placeholder="Nhập Tên Sản Phẩm">
    </div>

    <button type="submit" class="btn btn-primary">Xóa</button>
</form>